//Color variables
$violet: #8476AA
$green: #99EFD0
$white: #FFFFFF
$blue: #0F1144
$orange: #F2994A
$grey-100: #B5B5B5
$grey-200: #8D8D8D
$grey-300: #95A1BB
$grey-400: #6D6D78
$grey-500: #585981

$accent: $orange
$background-color-main: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%)
$background-color-blue: $blue

$text-color-main: $violet
$text-color-heading: $green
$text-color-grey: $grey-100
$text-color-accent: $accent
$text-color-white: $white
$text-color-blue: $blue

//Text variables
$thin-text: 100
$light-text: 300
$regular-text: 400
$medium-text: 500
$semi-bold-text: 600
$bold-text: 700

//Breakpoint variables
$baseSize: 16px

$breakpoint-sm: 576px
$breakpoint-md: 768px
$breakpoint-lg: 992px
$breakpoint-xl: 1200px

$grid-breakpoints: (sm: $breakpoint-sm,md: $breakpoint-md,lg: $breakpoint-lg,xl: $breakpoint-xl) !default

//z-index variables
$z-1: 1
$z-10: 10
$z-20: 20
$z-30: 30
$z-50: 50
